<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 
*******************************************************************************
 ОБЩИЕ СИСТЕМНЫЕ НАСТРОЙКИ .NET
*******************************************************************************
-->
	<!-- Требование версии .NET -->
	<startup>
		<requiredRuntime version="v2.0.50727" safemode="false" />
	</startup>
	<!-- 
*******************************************************************************
 СИСТЕМНЫЕ НАСТРОЙКИ ASP .NET
*******************************************************************************
-->
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/d:TRACE" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1" />
		</compilers>
	</system.codedom>
	<system.web>
		<!-- Обработчики "виртуальных страниц" XFW -->
		<httpHandlers>
			<add path="x-execute-command.aspx" verb="*" type="Croc.XmlFramework.Web.XExecuteCommandHandler" />
			<add path="x-get-image.aspx" verb="*" type="Croc.XmlFramework.Web.XGetImageHandler" />
			<add path="x-get-icon.aspx" verb="*" type="Croc.XmlFramework.Web.XGetIconHandler" />
			<add path="x-list-loader.aspx" verb="*" type="Croc.XmlFramework.Web.XListLoaderHandler" />
			<add path="x-tree-loader.aspx" verb="*" type="Croc.XmlFramework.Web.XTreeLoaderHandler" />
			<add path="x-metadata.aspx" verb="*" type="Croc.XmlFramework.Web.XGetMetadataHandler" />
			<add path="x-tree-menu.aspx" verb="*" type="Croc.XmlFramework.Web.XTreeMenuHandler" />
			<add path="xx-tree-node-drag.aspx" verb="*" type="Croc.XmlFramework.Extension.Web.XXTreeNodeDragHandler" />
		</httpHandlers>
		<!-- Изменим максимальный размер запроса (в Кб), по умолчанию 4096 Кб (4Мб) -->
		<httpRuntime maxRequestLength="2097151" />
		<!-- Настройка параметров компиляции ASPX-файлов; влияет на отладку -->
		<compilation defaultLanguage="c#" debug="true">
			<!-- 
			Раздел assemblies добавлен Visual Studio автоматически,
			если эта зараза попытается сюда еще что-то добавить, то во время сборки,
			будет запрос на check-out Web.config - согласись, скрепя сердце
			ПРОВЕРЬ, не сменила ли эта дрянь кодировку с windows-1251 на utf-8, а то
			крякозябры огребешь в Visual Source Safe.
			Если сменила, то делай так:
			1. скопируй раздел <assemblies> куда-нибудь (напр. на клипборд)
			2. сделай Web.config Undo Checkout
			3. вставь скопированный раздел <assemblies> на место старого раздела
			(с автоматическим check out, соответственно)        
			-->
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Croc.XmlFramework.ReportService.Commands.Interop" />
        <add assembly="Croc.XmlFramework.TransferService.Commands.Interop" />
			</assemblies>
		</compilation>
		<!-- Настройка отображения прикладных сообщений об ошибках -->
		<customErrors mode="Off" />
		<!-- Модель аутентификации в ASP.NET -->
		<authentication mode="Windows" />
		<!-- Определение режима отождествления процесса ASP.NET -->
		<identity impersonate="true" />
		<!-- Настройка режимов вывода трассировочных сообщений -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" writeToDiagnosticsTrace="true" />
		<!-- Настройка режимов поддержки сессий в ASP.NET -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="" cookieless="false" timeout="20" />
		<!-- Настройка параметров языковой поддержки в ASP.NET -->
		<globalization requestEncoding="windows-1251" responseEncoding="windows-1251" />
		<!-- Отключение проверки параметров запросов к страницам -->
		<pages validateRequest="false" />
        <roleManager enabled="true" />
	</system.web>
	<!-- 
	*******************************************************************************
	 УКАЗАНИЕ АЛЬТЕРНАТИВНЫХ КАТАЛОГОВ РАЗМЕЩЕНИЯ .NET-СБОРОК 
	*******************************************************************************
	-->
	<!--
		Настройки данной секции в частности определяют перечень подкаталогов
		базового каталога приложения (в случае ASP.NET это подкаталог bin),
		в которых могут размещаться сборки приложения.
		В частности, такие подкаталоги - ReportService и TransferService - 
		определяются для размещения сборок и служебных файлов реализации 
		подсистем Report Service и Transfer Service соответственно.
		
		ВНИМАНИЕ! При изменении наименований подкаталогов соответственно должны
		быть изменены настройки (значение атрибута privatePath, заданного для 
		элемента probing)
	-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin;bin/ReportService;bin/TransferService" />
		</assemblyBinding>
	</runtime>
	<system.runtime.remoting>
		<!-- 
		*******************************************************************************
		 Клиентская настройка Remoting конфигурации
		*******************************************************************************
		-->
		<!--
			Эта настройка необходима, если Web-сервер и сервер приложений устанавливаются
			на разные серверы, и между ними используется Remoting.
			Для использования Remoting-транспорта к XFacade необходимо также определить 
			ключ XFacadeServiceInterface в appSettings со значением "Remoting".
		-->
		<!--
			<application>
				<client>
					<wellknown type="Croc.XmlFramework.Public.IXFacade, Croc.XmlFramework.Public"
               			url="http://localhost/XFWDefaultSiteAppSrv/XFacade.rem" />
				</client>
				<channels>
					<channel ref="http" />
				</channels>
			</application>
		-->
		<!-- 
		*******************************************************************************
		 Серверная настройка Remoting конфигурации
		*******************************************************************************
		-->
		<!-- 
		Используется, если необходимо предоставить доступ к XFacade через Remoting.
		Примечание: если в качестве хоста выступает ASP.NET, то поддерживается только один вид канала - HttpChannel.
		
		ВНИМАНИЕ! Если доступ к серверу приложений через Remoting не нужен Вашему конкретному приложению,
		уберите эти разделы из файла конфигурации для уменьшения "площади поражения" системы.
		-->
		<application>
			<service>
				<wellknown mode="Singleton" type="Croc.XmlFramework.Remoting.XRemotingFacade, Croc.XmlFramework.ServiceInterfaces" objectUri="XFacade.rem" />
			</service>
			<channels>
				<channel ref="http" />
				<serverProviders>
					<!-- Разрешаем десериализацию для всех типов -->
					<formatter ref="soap" typeFilterLevel="Full" />
				</serverProviders>
			</channels>
		</application>
	</system.runtime.remoting>
	<!-- 
	*******************************************************************************
	 СЕКЦИЯ КОНФИГУРАЦИИ XML FRAMEWORK .NET 
	*******************************************************************************
	-->
	<!-- 
		СЕКЦИЯ КОНФИГУРАЦИИ XML FRAMEWORK .NET
		Указание пути размещения основного конфигурационного файла приложения 
		XML Framework .NET. Заданный путь может быть как абсолютным, так и 
		относительным (по отношению к каталогу размещения Web.Config)
	-->
	<appSettings>
		<!-- Основной конфигурационный файл приложения XML Framework .NET. 
		Заданный путь может быть как абсолютным, так и относительным (по отношению 
		к каталогу размещения Web.Config). 
		Обязательный параметр. -->
		<add key="ConfigFileName" value="Metadata\it-app-config.xml" />
		<!-- Тип сервисного интерфейса - значение перечисления XFacadeServiceInterfaceType.
		При отсутствии ключа используется Local.
		-->
		<add key="XFacadeServiceInterface" value="Local" />
		<!-- Uri XFacade на сервере при заданном XFacadeServiceInterface отличным от Local.
				Если ключ XFacadeServiceInterface равен WebService - ключ обязательный. Содержит полный Uri web-сервиса (XFacadeWebService.asmx)
				Если ключ XFacadeServiceInterface равен Remoting - ключ опциональный. Содержит Uri wellknown remoting-типа (XFacade.rem).
					Uri remoting-типа также может быть задан в .NET Remoting конфигурации (system.runtime.remoting/application/client/wellknown/@url).
					Если Uri задан и там, и там, то он должен совпадать. Главное чтобы он был задан хотя бы раз: либо ключе, либо в .NET Remoting конфигурации.
		<add key="XFacadeServerUri" value="http://localhost/XFWDefaultSite/WebService/XFacade.asmx" />
		-->
	</appSettings>
	<!-- 
	*******************************************************************************
	 Настройка трассировки вызовов команд через x-execute-command.aspx
	*******************************************************************************
	-->
	<!--	
		ПЕРЕКЛЮЧАТЕЛЬ TraceCommandsWeb включает запись в Trace xml запросов и ответов серверных операций, 
		чей вызов проходит через x-execute-command.aspx
		
		Перед использованием "слушателя" MyListenerEventLog необходимо создать 
		источник EventLog source: 
		EventLog.CreateEventSource("..", "..")
	-->
	<!--	
	<system.diagnostics>
		<switches>
			<add name="TraceCommandsWeb" value="1"/>
		</switches>
		<trace autoflush="true" indentsize="3">
			<listeners>
				<add name="MyListenerFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\\xfw-trace.log"/>
				<add name="MyListenerEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="XFW"/>
			</listeners>
		</trace>
	</system.diagnostics>
	-->
</configuration>
