/************************************************************************
        Стили используемые при построении отчета
 ************************************************************************/

/************************************************************************
   Стиль кнопки экспорта в Excel
 ************************************************************************/
@media print {
	 .noprint{ display:none; }
	 .REPHEAD_noprint { display:none; }
}

/************************************************************************
   Стиль всего отчёта
 ************************************************************************/
.REPBODY{font-family:Arial;};

/************************************************************************
   Стиль таблицы заголовка отчета
 ************************************************************************/
.HTABLE{font-size:10pt; font-family:Arial; font-weight:bold; background-color="#344b25"; width:100%;}

/************************************************************************
   Стиль ячейки с наименованием приложения
 ************************************************************************/
.APPNAME{font-size:13pt; color:white;}

/************************************************************************
   Стиль ячейки с заголовками
 ************************************************************************/
.TITLES{font-size:10pt; background-color:#fcfde1;}

/************************************************************************
   Стиль пустого отчёта
 ************************************************************************/
.EMPTYBODY{background-color:#fcfde1;font-size:10pt;}

/************************************************************************
   Стандартный стиль THEAD в таблицах
 ************************************************************************/
.REPHEAD{background-color:#e9e9e9; vertical-align:center; text-align:center; display:table-header-group;font-size:10pt;}
.REPHEAD_noprint{background-color:#e9e9e9; vertical-align:center; text-align:center;font-size:10pt; }

/************************************************************************
   Стандартый стиль TBODY в таблицах
 ************************************************************************/
.REPBODY{background-color:white;font-size:10pt;}

/************************************************************************
   Стандартный стиль TFOOT в таблицах
 ************************************************************************/
.REPFOOT{background-color:#e8e7d0; color:black; display:table-footer-group;font-size:10pt;}

/************************************************************************
   Стиль ссылок
 ************************************************************************/
A{color:navy;text-decoration:none}
A:Hover{color:red}

/************************************************************************
   Подвал отчета
 ************************************************************************/
.FOOTER{font-family:Verdana; background-color:#E6E6E6;}

/************************************************************************
   Ячейка с номером строки в "халявном отчете"
 ************************************************************************/
.LINENUMBER{font-weight:bold; background-color:#e9e9e9;}
