<?xml version="1.0" encoding="windows-1251" ?>
<!--
********************************************************************************
 Система оперативного управления проектами - Incident Tracker
 ЗАО КРОК инкорпорейтед, 2005
********************************************************************************
 ВНИМАНИЕ!
 	При развертывании сервисов необходимо проверить и, при необходимости,
	сокрректировать следующие определения в данном конфигурационном файле:
	
	-	Адрес "удаленного типа" Croc.XmlFramework.Remoting.XRemotingFacade,  
		в определении system.runtime.remoting.
		
	-	Идентификационные данные пользователя, под учетной записью которого 
		будут выполняться все методы сервиса (определение system.web/identity). 
		ЗАДАНИЕ ИДЕНТИФИКАЦИИ ОБЯЗАТЕЛЬНО. УКАЗАННЫЙ ПОЛЬЗОВАТЕЛЬ ДОЛЖЕН ИМЕТЬ 
		ДОСТУП В СИСТЕМУ INCIDENT TRACKER И ОБЛАДАТЬ НЕОБХОДИМЫМИ ПРИВИЛЕГИЯМИ.
			
	Указанные элементы отмечены далее комментарием "NB!!! ПРОВЕРЬТЕ СООТВЕТСТВИЕ
	ОПРЕДЕЛЕНИЯ РЕАЛЬНЫМ КОНФИГУРАЦИЯМ СИСТЕМ"
-->
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown
					type="Croc.XmlFramework.Public.IXFacade, Croc.XmlFramework.Public"
					url="http://localhost/it/XFacade.rem" />
      </client>
      <channels>
        <channel ref="http" useDefaultCredentials="true">
          <clientProviders>
            <formatter ref="soap"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!-- 
*******************************************************************************
 СИСТЕМНЫЕ НАСТРОЙКИ ASP .NET
*******************************************************************************
-->
  <system.web>

    <!-- Настройка параметров компиляции ASPX-файлов; влияет на отладку -->
    <compilation defaultLanguage="c#" debug="true" />

    <!-- Настройка отображения прикладных сообщений об ощибках -->
    <customErrors mode="Off" />

    <!-- Модель аутентификации в ASP.NET -->
    <authentication mode="Windows"/>

    <!-- Определение режима отождествления процесса ASP.NET -->
    <!-- NB!!! ПРОВЕРЬТЕ СООТВЕТСТВИЕ ОПРЕДЕЛЕНИЯ РЕАЛЬНЫМ КОНФИГУРАЦИЯМ СИСТЕМ -->
    <identity
			impersonate="true"
			userName="ITService"
			password="12345"
		/>

    <!-- Настройка режимов вывода трассировочных сообщений -->
    <trace
			enabled="false"
			requestLimit="10"
			pageOutput="true"
			traceMode="SortByTime"
			localOnly="true"
		/>

    <!-- Настройка режимов поддержки сессий в ASP.NET -->
    <sessionState
			mode="InProc"
			stateConnectionString="tcpip=127.0.0.1:42424"
			sqlConnectionString=""
			cookieless="false"
			timeout="20"
		/>

    <!-- Настройка параметров языковой поддержки в ASP.NET -->
    <!-- ТАКАЯ НАСТРОЙКА - ТОЛЬКО ДЛЯ Windows 2003 Server: ОСОБЕННОСТЬ С enableBestFitResponseEncoding!!! -->
    <!--
		<globalization 
			requestEncoding="windows-1251" 
			responseEncoding="windows-1251"
			enableBestFitResponseEncoding="true"
		/>
		-->
    <globalization
			requestEncoding="windows-1251"
			responseEncoding="windows-1251"
		/>

    <!-- Допустимые протоколы -->
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="HttpPostLocalhost"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>

    <!-- Параметры ASP .NET -->
    <httpRuntime
			executionTimeout="300"
		/>

  </system.web>

  <!-- 
*******************************************************************************
 УКАЗАНИЕ АЛЬТЕРНАТИВНЫХ КАТАЛОГОВ РАЗМЕЩЕНИЯ .NET-СБОРОК 
*******************************************************************************
-->
  <!--
		Настройки данной секции в частности определяют перечень подкаталогов
		базового каталога приложения (в случае ASP.NET это подкаталог bin),
		в которых могут размещаться сборки приложения.
		В частности, такие подкаталоги - ReportService и TransferService - 
		определяются для размещения сборок и служебных файлов реализации 
		подсистем Report Service и Transfer Service соответственно.
		
		ВНИМАНИЕ! При изменении наименований подкаталогов соответственно должны
		быть изменены настройки (значение атрибута privatePath, заданного для 
		элемента probing)
	-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin/ReportService;bin/TransferService"/>
    </assemblyBinding>
  </runtime>

  <!-- 
*******************************************************************************
 УКАЗАНИЕ КОНФИГУРАЦИОННОГО ФАЙЛА XML FRAMEWORK .NET
*******************************************************************************
-->
  <!-- 
		СЕКЦИЯ КОНФИГУРАЦИИ XML FRAMEWORK .NET
		Указание пути размещения основного конфигурационного файла приложения 
		XML Framework .NET. Заданный путь может быть как абсолютным, так и 
		относительным (по отношению к каталогу размещения Web.Config)
	-->
  <!-- NB!!! ПРОВЕРЬТЕ СООТВЕТСТВИЕ ОПРЕДЕЛЕНИЯ РЕАЛЬНЫМ КОНФИГУРАЦИЯМ СИСТЕМ -->
  <appSettings>
    <!-- Внутренний конфигурационный файл IT-WS (относительный путь от Web.config) -->
    <add key="IT-WS-ConfigFileName" value=".\Config\it-services.config.xml"/>
    <!-- Тип фасада - Remoting -->
    <add key="XFacadeServiceInterface" value="Remoting"/>
    <!--<add key="XFacadeServerUri" value="http://localhost/IT/XRemotingFacade.rem"/>-->
  </appSettings>

</configuration>
