<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Croc.IncidentTracker.Notification.DeliveryService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Croc.IncidentTracker.Notification.DeliveryService.Properties.Settings.IT" connectionString="Data Source=server;Initial Catalog=DB;Persist Security Info=True;User ID=user;Password=password" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
	</startup>
	<applicationSettings>
		<Croc.IncidentTracker.Notification.DeliveryService.Properties.Settings>
			<setting name="SMTPPort" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="SMTPTimeout" serializeAs="String">
				<value>300000</value>
			</setting>
			<setting name="DeliveryIdle" serializeAs="String">
				<value>00:00:15</value>
			</setting>
			<setting name="XslFormatterFilePath" serializeAs="String">
				<value>it-MessagingFormatter-HTML.xsl</value>
			</setting>
			<setting name="DigestInterval" serializeAs="String">
				<value>24</value>
			</setting>
			<setting name="MaxMessagesPerOnce" serializeAs="String">
				<value>128</value>
			</setting>
			<setting name="TestMail" serializeAs="String">
				<value/>
			</setting>
			<setting name="SMTPHost" serializeAs="String">
				<value>smtp.server</value>
			</setting>
			<setting name="MailFrom" serializeAs="String">
				<value>send@from.ru</value>
			</setting>
			<setting name="InternalUri" serializeAs="String">
				<value>http://itServer/it</value>
			</setting>
			<setting name="ExternalUri" serializeAs="String">
				<value>http://itServer/it</value>
			</setting>
			<setting name="MaxMessagesPerDigest" serializeAs="String">
				<value>32</value>
			</setting>
		</Croc.IncidentTracker.Notification.DeliveryService.Properties.Settings>
	</applicationSettings>
	<system.diagnostics>
		<sharedListeners>
			<add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Application"/>
			<!--<add 
				name="debugListener" 
				type="System.Diagnostics.TextWriterTraceListener" 
				initializeData="debug.log" 
				traceOutputOptions="DateTime"/>-->
		</sharedListeners>
		<sources>
			<source name="DeliveryService" switchValue="All">
				<listeners>
					<clear/>
					<add name="eventLogListener"/>
				</listeners>
			</source>
		</sources>
		<trace autoflush="false" indentsize="0"/>
	</system.diagnostics>
</configuration>
